.Header{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom:  1px solid lightgray;
    justify-content: space-between;
}
.Header__profInfo{
   display: flex;
   align-items: center;
}
.Header__profInfo>.MuiSvgIcon-root{
    flex:0.8;
}
.Header__profName{
    flex:0.2;
    margin-left: 5px;
}
.Header__title{
    margin-left: 5px;
}